{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Registration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		body{
			background-color:cadetblue!important;
		}
	  </style>
</head>
<body>
	<br>
	<br>
	<center><h3 style=" margin-bottom: 0px;"class = 'alert alert-success'>Signup As User!</h3></center>
   <div class="container p-5">
	<div class="row justify-content-center h-100">
		<div class="card w-50 my-auto shadow">
			 <div class="card-header text-center bg-primary text-white">
				 <h2>User Registration</h2>	
			 </div>
             
			 {% if msg %}
			 <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
			  <p>{{msg}}</p>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			{% endif %}

			 <div class="card-body">
				<form action="{% url 'uregistration' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
			   <div class="form-group">
						 <label for="name">First Name</label>
						 <input type="text" placeholder="Your Firstname" id="name" class="form-control" name="fname" required="">
					 </div>

					 <div class="form-group">
						<label for="name">Last Name</label>
						<input type="text" placeholder="Your Lastname" id="name" class="form-control" name="lname" required="">
					</div>

					 <div class="form-group">
						 <label for="email">Email</label>
						 <input type="email" placeholder="Your Email" id="email" class="form-control" name="email" required="">
					 </div>

					 <div class="form-group">
						 <label for="contact">Contact</label>
						 <input type="mobile" placeholder="Your Contact" id="contact" class="form-control" name="contact" required=""> 
					 </div>

					 <div class="form-group">
						 <label for="password">Password</label>
						 <input type="password" placeholder="Create password" id="pass1" class="form-control" name="password" required="">
					 </div>

					 <div class="form-group">
						<label for="password">Confirm Password</label>
						<input type="password" placeholder="Confirm password" id="pass2" class="form-control" name="cpassword" required="">
					</div>

			   <input type="submit" class="btn btn-primary w-100" value="Register">
				 </form>
			 </div>

			 <div class="card-footer text-center">
				 <small>Already have an account? <a href="{% url 'userLogin' %}">Login</a> </small>
			 </div>	
		</div>
	</div>
</div>

</body>
</html>

{% endblock %}